body{
    background-image:linear-gradient(45deg,rgb(173, 208, 255),rgb(15, 126, 134));
    font-family: Arial, Helvetica, sans-serif;
  }
  .botões {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: rgb(205, 248, 245);
      text-indent: 0px;
      border-radius: 20px;
      
    
    }
    
    li {
      float: left;
    }
    
    li a {
      display: block;
      color: rgb(32, 21, 21);
      text-align: center;
      padding: 18px 18px;
      text-decoration: none;
      
    }
    
    li a:hover {
      background-color:rgb(18, 140, 156)
    }
    li {
      border-right: 1px solid rgb(0, 0, 0,);
    }
    
    li:last-child {
      border-right: none;
    }
    .formulario{
    background-color: rgba(96, 97, 109, 0.9);
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%);
    padding: 50px;
    border-style:dashed 55px;
    color: white;
    border-radius: 30px;
    text-shadow: 3px 3px 2px rgb(12, 9, 9);
    }
    .contato{
      position: absolute;
      top: -5%;
      left: 50%;
      transform: translate(-50%);
      padding: 50px;
      border-radius: 15px;
      text-shadow: 2px 2px 2px rgb(127, 234, 253);
    }
    .telefone{
      position: absolute;
      top: 35%;
      right: 89%;
    }
    .contato1{
      position: absolute;
      top: 25%;
      right: 87%;
      text-shadow: 3px 3px 2px rgb(22, 125, 243);


    }
    .endereco{
      position: absolute;
      top: 45%;
      right: 89%;
    }
    .logo-insta{
      position: absolute;
      top: 88%;
      right: 10%;

      
    }
    .wpp{
      position: absolute;
      top: 88%;
      right: 2%;

    }
    .tecnico{
      background-image:linear-gradient(45deg,rgb(201, 196, 196),rgb(101, 105, 105));
      margin-top: 32%;
      padding-bottom: 55px;
     padding-top: 10px;
     text-align: center;
     color: rgb(2, 2, 2);
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     font-size: 22px;
     margin-right: -8px;
     margin-left: -8px;
     margin-bottom: -7px;
     border-top: dashed 3px rgb(255, 252, 252);
      
    
    
    }
    .copy{
      font-size:13px ;
    }
    
  